/* VARIABLES */

:root{
  --text-color : #939CAA;
  --title-color : #495567;
  --white-color : #FFF;
  --link-bg-color : #FCB72B;
  --second-font-family: "Lexend Deca", "Arial", sans-serif;
  --font-size: 15px;
  --font-weight: 700;
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v11-latin-regular.woff2") format("woff2"), 
       url("../fonts/space-mono-v11-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"), 
       url("../fonts/space-mono-v11-latin-700.woff") format("woff"); 
}

@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v16-latin-regular.woff2") format("woff2"), 
       url("../fonts/lexend-deca-v16-latin-regular.woff") format("woff"); 
}

/* GENERAL */

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", "Courier New", monospace;
  font-weight: 400;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a{
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

/* SITE HEADER START */

.site-header{
  padding-top: 22px;
  padding-bottom: 21px;
  background-color: var(--white-color);
}

.site-header__inner{
  display: flex;
  align-items: center;
}

.header-logo{
  color: var(--title-color);
}

.site-logo__img{
  width: 108px;
  height: 29px;
  margin-right: 60px;
}

.site-nav__list{
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child){
  margin-right: 32px;
}

.site-nav__link{
  display: inline-block;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--text-color);
  transition: all 0.5s ease;
}

.site-nav__link:hover{
  color: var(--link-bg-color);
  transition: all 0.5s ease;
}

.get-link{
  display: inline-block;
  padding: 11px 36px;
  margin-left: auto;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--white-color);
  background-color: var(--link-bg-color);
  border: 3px solid #FCB72B;
  transition: all 0.5s ease;
}

.get-link:hover{
  color: var(--link-bg-color);
  background-color: var(--white-color);
  transition: all 0.5s ease;
}

/* INTRO SECTION START */

.intro{
  padding: 153px 0;
  background-image: url("../images/hero-circles.svg"), url("../images/hero-bgi.png");
  background-size: 234px 62px, cover;
  background-repeat: no-repeat;
  background-position: calc(50% + 631px) calc(50% + 140px), center;
}

.intro__inner{
  width: 500px;
}

.intro__title{
  margin-bottom: 40px;
  font-weight: var(--font-weight);
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--white-color);
}

.intro__text-box{
  width: 405px;
  margin-left: 95px;
}

.intro__text{
  position: relative;
  z-index: 1;
  display: flex;
  margin-bottom: 40px;
  font-family: var(--second-font-family);
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.intro__text::before{
  position: absolute;
  top: 43%;
  left: -64%;
  z-index: 3;
  width: 203px;
  height: 15px;
  background-color: var(--link-bg-color);
  content: "";
}

.intro__text::after{
  position: absolute;
  top: 43%;
  right: -118%;
  z-index: 3;
  width: 447px;
  height: 138px;
  background-image: url("../images/hero-arrow.svg");
  background-size: 447px 138px;
  background-repeat: no-repeat;
  content: "";
}

/* FEATURES SECTION START */

.features{
  padding-top: 160px;
  padding-bottom: 200px;
}

.faetures__list{
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}

.faetures__list::before{
  position: absolute;
  top: 41px;
  left: -14%;
  z-index: -1;
  width: 974px;
  height: 15px;
  background-color: #E5ECF4;
  content: "";
}

.features__item{
  width: 350px;
}

.features__item::before{
  display: block;
  width: 96px;
  height: 96px;
  margin-bottom: 40px;
  content: "";
  background-image: url("../images/locate.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.features__item:nth-child(2)::before{
  background-image: url("../images/scooter.svg");
}

.features__item:nth-child(3)::before{
  background-image: url("../images/ride.svg");
}

.features__item:not(:last-child){
  margin-right: 30px;
}

.features__title{
  margin-bottom: 27px;
  font-weight: var(--font-weight);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--title-color);
}

.features__text{
  margin: 0;
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--text-color);
}

/* USE SECTION START */

.use{
  padding-bottom: 200px;
}

.item{
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item:nth-child(1):after{
  position: absolute;
  z-index: 3;
  bottom: 7px;
  right: -155px;
  width: 735px;
  height: 138px;
  content: "";
  background-image: url("../images/easy-arrow.svg");
  background-size: 735px 138px;
  background-repeat: no-repeat;
}

.item:nth-child(2)::before{
  position: absolute;
  z-index: 3;
  top: 0;
  left: -47%;
  width: 735px;
  height: 138px;
  content: "";
  background-image: url("../images/coming-arrow.svg");
  background-size: 735px 138px;
  background-repeat: no-repeat;
}

.item:nth-child(3):after{
  position: absolute;
  z-index: 3;
  top: 19%;
  right: -47%;
  width: 735px;
  height: 138px;
  content: "";
  background-image: url("../images/zero-arrow.svg");
  background-size: 735px 138px;
  background-repeat: no-repeat;
}

.item:not(:last-child){
  margin-bottom: 160px;
}

.item__inner{
  width: 445px;
}

.item__title{
  margin: 0;
  margin-bottom: 24px;
  font-weight: var(--font-weight);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--title-color);
}

.item__text{
  margin: 0;
  margin-bottom: 40px;
  font-family: var(--second-font-family);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--text-color);
}

.item__link{
  display: inline-block;
  padding: 11px 41px;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--white-color);
  background-color: var(--link-bg-color);
  border: 3px solid var(--link-bg-color);
  transition: all 0.5s ease;
}

.item__link:hover{
  color: var(--link-bg-color);
  background-color: var(--white-color);
  transition: all 0.5s ease;
}

.item__img{
  border-radius: 50%;
  box-shadow: 500px 0 0 0 #E5ECF4;
}

.item__img--coming{
  box-shadow: -500px 0 0 0 #E5ECF4;
}

/* SITE FOOTER start */

.site-footer__top{
  padding: 102px 0;
  background-image: url("../images/footer-bgi.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.site-footer__top-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer__title-box{
  width: 415px;
}

.site-footer__title{
  margin: 0;
  font-weight: var(--font-weight);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--white-color);
}

.install__link{
  position: relative;
  display: inline-block;
  padding: 8px 15px 9px 52px;
  background-color: #E5ECF4;
  border-radius: 4px;
}

.install__link::before{
  position: absolute;
  top: 14px;
  left: 16px;
  display: inline-block;
  width: 24px;
  height: 28px;
  content: "";
  background-image: url("../images/apple-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.install__link:nth-child(2)::before{
  background-image: url("../images/play-market-icon.svg");
}

.install__link--appstore{
  margin-right: 18px;
}

.install__top-strong{
  display: block;
  font-weight: var(--font-weight);
  font-size: 10px;
  line-height: var(--font-size);
  letter-spacing: -0.446429px;
  color: var(--title-color);
}

.install__bottom-strong{
  display: block;
  font-weight: var(--font-weight);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: var(--title-color);
}

.site-footer__bottom{
  padding-top: 35px;
  padding-bottom: 33px;
  background-color: #333A44;
}

.site-footer__bottom-inner{
  display: flex;
  align-items: center;
}

.footer-logo{
  color: var(--white-color);
}

.site-footer__social{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-footer__social-link:not(:last-child){
  margin-right: 24px;
}

.site-footer__social-link{
  display: inline-block;
  color: #FCB72B;
  transition: all 0.5s ease;
}

.site-footer__social-link:hover{
  color: #E5ECF4;
  transition: all 0.5s ease;
}

