/* VARIABLES */

:root{
  --text-color : #939CAA;
  --title-color : #495567;
  --white-color : #FFF;
  --link-bg-color : #FCB72B;
  --second-font-family: "Lexend Deca", "Arial", sans-serif;
  --font-size: 15px;
  --font-weight: 700;
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v11-latin-regular.woff2") format("woff2"), 
       url("../fonts/space-mono-v11-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"), 
       url("../fonts/space-mono-v11-latin-700.woff") format("woff"); 
}

@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v16-latin-regular.woff2") format("woff2"), 
       url("../fonts/lexend-deca-v16-latin-regular.woff") format("woff"); 
}

/* GENERAL */

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", "Courier New", monospace;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a{
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

/* SITE HEADER START */

.site-header{
  padding-top: 22px;
  padding-bottom: 21px;
  background-color: var(--white-color);
}

.site-header__inner{
  display: flex;
  align-items: center;
}

.site-logo__img{
  width: 108px;
  height: 29px;
  margin-right: 60px;
}

.site-nav__list{
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child){
  margin-right: 32px;
}

.site-nav__link{
  display: inline-block;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--text-color);
  transition: all 0.5s ease;
}

.site-nav__link:hover{
  color: var(--link-bg-color);
  transition: all 0.5s ease;
}

.get-link{
  display: inline-block;
  padding: 11px 36px;
  margin-left: auto;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--white-color);
  background-color: var(--link-bg-color);
  border: 3px solid #FCB72B;
  transition: all 0.5s ease;
}

.get-link:hover{
  color: var(--link-bg-color);
  background-color: var(--white-color);
  transition: all 0.5s ease;
}

/* INTRO SECTION START */

.intro{
  padding: 153px 0;
  background-image: url("../images/hero-circles.svg"), url("../images/hero-bgi.png");
  background-size: 234px 62px, cover;
  background-repeat: no-repeat;
  background-position: calc(50% + 631px) calc(50% + 140px), center;
}

.intro__inner{
  width: 500px;
}

.intro__title{
  margin-bottom: 40px;
  font-weight: var(--font-weight);
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--white-color);
}

.intro__text-box{
  width: 405px;
  margin-left: 95px;
}

.intro__text{
  position: relative;
  z-index: 1;
  display: flex;
  margin-bottom: 40px;
  font-family: var(--second-font-family);
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.intro__text::before{
  position: absolute;
  top: 43%;
  left: -64%;
  z-index: 3;
  width: 203px;
  height: 15px;
  background-color: var(--link-bg-color);
  content: "";
}

.intro__text::after{
  position: absolute;
  top: 43%;
  right: -118%;
  z-index: 3;
  width: 447px;
  height: 138px;
  background-image: url("../images/hero-arrow.svg");
  background-size: 447px 138px;
  background-repeat: no-repeat;
  content: "";
}